{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
    <h1>404 - Page Not Found</h1>
    <p>Sorry, the page you are looking for does not exist.</p>

    <h3>Here are functions of our site you can explore:</h3>
<ul>
    <li>
        <p>Stats for average, ratio, and biofuel emissions: <a href='/stats?country_stats=Canada'>Country Stats Page</a></p>
    </li>
    <li>
        <p>Year-specific global CO2 emissions: <a href='/year_co2?year_co2=2004'>CO2 Emissions Page</a></p>
    </li>
    <li>
        <p>Year-specific global energy data: <a href='/year_energy?year_energy=2004'>Energy Data Page</a></p>
    </li>
</ul>

{% endblock %}
