<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <nav class = navbar>
            <ul>
                <li><a href = '/' class=home-icon aria-label="Go to homepage">&#8962</a></li>
                <!--<li><a href = '/data' aria-label="Go to data page">Data</a></li>-->
                <li><a href = '/info' aria-label="Go to info page">Info</a></li>
            </ul>
        </nav>
        <div class = "content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
