<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <nav class="navbar">
            <ul>
                <li><a href = '/' class=home-icon aria-label="Go to homepage">&#8962</a></li>
                <!--<li><a href = '/graph?graph_country=Canada' aria-label="Go to data page">Data</a></li>-->
                <li><a href = '/info' aria-label="Go to info page">Info</a></li>
                <li><a href='/stats?country_stats=Afghanistan' aria-label="Go to stats page" >Stats by Country</a></li>
                <li><a href='/year_co2?year_co2=2004' aria-label="Go to year_co2 page">CO₂ by Year</a></li>
                <li><a href='/year_energy?year_energy=2004' aria-label="Go to year_energy">Energy by Year</a></li>
            </ul>
        </nav>
        <div class = "content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
