<!DOCTYPE html>

<html>
    <link rel="stylesheet" href="static/header.css">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{url_for('static',filename='header.css')}}">
        
        <nav>
            <ul>
                <li><a href = '/'>Home</a></li>
                <li><a href = '/data'>Data</a></li>
                <li><a href = '/info'>Info</a></li>
            </ul>
        </nav>
        
    </head>
    
    <body>

        <h1>{{title}}</h1>

    </body>
</html>