<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% extends 'base.html' %}

        {% block title %}Home{% endblock %}

        {% block content %}
        
            <h1>Emission Tracker</h1>
    
            <div class = home-instruct>
                <h3>Select a field</h3>
                <p>Choose a topic to analyze climate change</p>
            </div>
            
            <div class = form-container>

                <li><form action = "/stats">
                    <label for = "country_stats">Country</label>
                    <input type = "text" id = "country_stats" name = "country_stats" placeholder = "Country">
                    <input type = "submit" name = "stats_input" value = "Submit">
                </form></li>
                <li><form action = "/year_co2">
                    <label id = "year_co2_label">Year_Co2:</label>
                    <br>
                    <input type = "text" id = "year_co2" name = "co2_year" placeholder = "Year">
                    <input type = "submit" name = "year_co2_input" value = "Submit">
                </form></li>
                <li><form action = "/year_energy">
                    <label id = "year_energy_label">Year_Energy:</label>
                    <br>
                    <input type = "text" id = "year_energy" name = "energy_year" placeholder = "Year">
                    <input type = "submit" name = "year_energy_input" value = "Submit">
                </form></li>

            </div>
        {% endblock %}
    </body>
</html>