<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Emission Tracker</h1>
        <div><em>{% include 'header.html' %}</em></div>

        <div>
            <h2>Our Goal</h2>
            <p>
            This is a tracker for global emissions. We hope you can explore the site 
            and learn more of how our climate is changing.
            </p>
            
            <h3>Select a field</h3>
            <p>Choose a topic to analyze climate change</p>
        </div>
        
        <div>
            <ul>
                <li><form action="/average">
                    <label id="average_label">Average:</label>
                    <input type="text" id = "average_text">
                    <input type="submit" name ="average_input" value="Submit">
                </form></li>
                <li><form action="/ratio">
                    <label id="ratio_label">Ratio:</label>
                    <input type="text" id = "ratio_text">
                    <input type="submit" name ="ratio_input" value="Submit">
                </form></li>
            </ul>
        </div>
        
    </body>
</html>