<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>
    <body>
        {% extends 'base.html' %}
        
        {% block title %}Warning{% endblock %}

        {% block content %}

        <div class = "warning">
            <p>{{country_html}} is not a country in our database. Please try again with a valid country. (You may have misspelled or forgotten to capitalize your country's name).</p> 
        </div>

        <div class = "search-container">
                 <form action = "/stats">
                    <label for = "country_stats">Country</label>
                    <input type = "text" id = "country_stats" name = "country_stats" placeholder = "Country">
                    <input type = "submit" name = "stats_input" value = "Submit">
                </form>
        </div>
        {% endblock %}
    </body>
</html>