<html>
    
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>

    <body>
        {% extends 'base.html' %}
        
        {% block title %}Stats{% endblock %}

        {% block content %}

        <div class = "year_heading">
            <h1>Country Statistics of {{country_html}}</h1>
    
            <h3>View what the average, ratio, and maximum electricity generation is for a selected country</h3>
        </div>

        <div class = "search-box">
            <form action = "/stats">
                <label for = "country_stats">Country</label>
                <input type = "text" id = "country_stats" name = "country_stats" placeholder = "Country">
                <input type = "submit" name = "stats_input" value = "Submit">
            </form>
        </div>

        <div class = "row">
            <div class = "card">
                <h2>{{ average_html }}</h2>
                <span>Average Co2 Emissions</spn>
            </div>
    
            <div class = "card">
                <h2>{{ ratio_html }}</h2>
                <span>Ratio between Co2 and Co2 Per Capita</spn>
            </div>
    
            <div class = "card">
                <h2>{{ biofuel_html }}</h2>
                <span>Top Gas Electricity Usage</spn>
            </div>
            
        </div>

        {% endblock %}
    </body>