<html>

    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>

    <body>
        {% extends 'base.html' %}
        
        {% block title %}Filter by Year{% endblock %}

        {% block content %}

        <div class = "year_heading">
            <h1 id="year_title">{{title}}</h1>
            <h2 id = "year_given">{{year_html}}</h2>
        </div>

        <ul id="result_list">
            {%for i in range (output|length): %}
                <li>{{output[i][0]}} : {{output[i][2]}}</li>
            {% endfor %}
        </ul>
        {% endblock%}
    </body>

</html>