<html>

    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>

    <body>
        {% extends 'base.html' %}
        
        {% block title %}Filter by Year{% endblock %}

        {% block content %}

        <div class = "year_heading">
            <h1 id="year_title">{{title}}</h1>
            <h2 id = "year_given">Global Energy from {{year_html}}</h2>
        </div>

        <div class = "table-data">
            <table class="year-table">
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>CO₂ Emissions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in output %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class = 
        
        {% endblock%}
    </body>
</html>
