<html>

    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>

    <body>
        {% extends 'base.html' %}
        
        {% block title %}Filter by Year{% endblock %}

        {% block content %}

        <div class = "year_heading">
            <h1 id="year_title">{{title}}</h1>
            <h2 id = "year_given">Global Energy from {{year_html}}</h2>
        </div>

        <div class = "page-body">
            <p>Beyond carbon dioxide (CO₂), there are many sources of greenhouse gases that contribute to the acceleration of climate change. The term "energy" is used to depict the emissions from gas electricity, one of the major sources of greenhouse gas emissions. </p>
            
            <p>Explore the values and stats below for more information on the generation of energy across countries.</p>
        </div>

        <div class = "search-box">
            <form action = "/year_energy" method = "get">
                <label id = "year_energy">Enter a year:</label>
                <input type = "text" id = "year_energy" name = "year_energy" placeholder = "Year" value = "{{ year_html }}" required>
                <input type="submit" name = "year_energy_input" value="Submit">
            </form>
        </div>
        
        <div class = "table-data">
            <table class="year-table">
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Energy Emissions (terawatt-hours)</th>
                        <th>Energy per Capita (kilowatt-hours per person)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in output %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        {% endblock%}
    </body>
</html>
